<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>Furry Load Diff</title>
    <link rel="stylesheet" href="bower_components/angular-chart.js/dist/angular-chart.css">
    <!--<link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">-->
    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="app.css" rel="stylesheet">
</head>

<body ng-app="furry" id="top">
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand visible-xs" href="#">Furry Load Diff</a>
            </div>
            <nav class="hidden-xs">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#top" role="button" class="navbar-brand">
              Furry Load Diff
            </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="container-fluid" ng-controller="LineCtrl">
    	<section>
            <div class="row container-fluid">
            	<form class="form-inline" ng-repeat="serie in series">
					<div class="form-group">
						<label for="series{{$index}}">Serie Path</label>
						<input ng-model="serie.path" id="series{{$index}}" type="text" class="form-control" placeholder="Enter path of serie to compare">
					</div>
					<a class="btn btn-default" ng-click="deleteSerie($index)">Delete</a>
				</form>
				<a class="btn btn-info" ng-click="addSerie()">Add Serie</a>
				<a class="btn btn-success" ng-click="draw()">Draw</a>
            </div>
    	</section>
        <section id="directives">
            <div class="page-header">
                <h1>Directives</h1>
            </div>
            <div class="row">
                <div class="col-lg-6" id="line-chart" ng-repeat="(name, chart) in charts">
                    <div class="panel panel-default">
                        <div class="panel-heading">{{name}}</div>
                        <div class="panel-body">
                            <canvas id="line{{$index}}" class="chart chart-line" data="chart.data" labels="chart.labels" legend="true" series="chart.series"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/Chart.js/Chart.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/angular-chart.js/dist/angular-chart.min.js"></script>
    <script src="bower_components/papa.parse/papaparse.js"></script>
    <script src="app.js"></script>
</body>

</html>
